.advantages {
    margin-top: 60px;
    margin-bottom: 60px;
}

.description-list {
    list-style-type: none;
    justify-content: center;
    padding: 0 15px;
    gap: 30px;

    &__icon {
        background-color: $teamBackground;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 4px;
    }

    &__header {
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    &__item {
        font-size: 0.825rem;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $quaternaryColor;
        text-align: justify;
    }
}    

@media screen and (min-width: 768px) {

.description-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 352px;
}
}

@media screen and (min-width: 1200px) {

.advantages {

    &__container {
    width: 1200px;
    margin: 0 auto;
    }
}


.description-list {
    display: flex;
    flex-direction: row;

    &__icon {
        padding: 25px 100px;
    }

    &__header {
        font-size: 0.825rem;
        line-height: 1.14;
    }
    }
}