.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    &__header {
        font-size: 1.75rem;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        padding-bottom: 30px;
    }
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
  
    &__item {
        list-style: none;
        padding: 16px 32px;
        border: 1px solid $teamIcon;
        border-radius: 4px;
        border-radius: $teamIcon;
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    &__item:last-child {
        margin-right: 0;
    }    
  
    &__item:hover {
        border: 1px solid $primaryColor;
    }    
  
    &__icon {
        fill: $teamIcon;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    &__item:hover &__icon {
        fill: $primaryColor;
    }
}

@media screen and (min-width: 1200px) {

.clients {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 94px;
    padding-top: 94px;

    &__header {
        font-size: 2.25rem;
        padding-bottom: 50px;
    }
}    
  
.clients-list {
  
    &__item {
        margin-right: 30px;
        gap: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
}
