.header {
    background-color: $quinaryColor;
    border-bottom: 1px solid #ececec;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 15px;
    }
}

.nav-main {
    display: flex;
    align-items: center;

    &__logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 1.625rem;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $tertiaryColor;
        margin-right: 0;
    }

    &__logo--color {
        color: $primaryColor;
    }

    @media screen and (min-width: 1200px) {
        .logo {
          margin-right: 93px;
        }
      }
}        

.nav-list {
    display: none;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
    // display: flex;
    padding: 24px 0;
    margin-left: 46.5px;

    &__item {
        margin: 0 23px;
    }

    &__link {
        color: $secondaryColor;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus,
    &__link:active {
        color: $primaryColor;
    }

    &__link--agency-active {
        position: relative;
        color: $primaryColor;
    }

    &__link--agency-active::after {
        content: "";
        position: absolute;
        display: block;
        top: 53px;
        width: 100%;
        height: 4px;
        background-color: $primaryColor;
        border-radius: 2px;
    }
        
    &__link--portfolio-active {
        position: relative;
        color: $primaryColor;
    }

    &__link--portfolio-active::after {
        content: "";
        position: absolute;
        display: block;
        top: 53px;
        width: 100%;
        height: 4px;
        background-color: $primaryColor;
        border-radius: 2px;
    }
}            

.contact {
    display: none;
    font-weight: 500;
    font-size: 0.825rem;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: space-between;
    fill: currentColor;

    &__item {
        color: $quaternaryColor;
        margin: 0 25px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:hover,
    &__item:focus {
        color: $primaryColor;
    }

    &__item:hover &__icon,
    &__item:focus &__icon{
        color: $primaryColor;
    }    

    &__icon--envelope {
        vertical-align: middle;
        margin-right: 10px;
    }

    &__icon--smartphone {
        vertical-align: text-top;
        margin-right: 10px;
    }
}    