* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $secondaryColor;
}

.content {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 320px;
    margin: 0 auto;
}