$primaryColor: #2196F3;
$secondaryColor: #212121;
$tertiaryColor: #000;
$quaternaryColor: #757575;
$quinaryColor: #fff;
$senaryColor: #ffffff99;
$darkBackground: #2F303A;
$teamBackground: #F5F4FA;
$portfolioBackground: #e5e5e5;
$backgroundGradient: #2f303a66;
$teamIcon: #AFB1B8;
$backgroundFooter: #ffffff1a;
$backgroundTasks: #2f303acc;